{% set classes = 'card row w-100 text-decoration-none h-100 overflow-hidden' %}
{% set classes = classes ~ (direction == 'horizontal' ? ' d-flex flex-row' : '' ) %}

<a href='{{ href }}' class='{{ classes }}'>
  {% if thumbnail %}
    <div class='{{ direction == 'horizontal' ? 'col-4' : '' }} p-0'>
      <div class='ratio ratio-16x9 h-100'>
        <img src='{{ thumbnail.src }}' alt='{{ thumbnail.alt }}'>
      </div>
    </div>
  {% endif %}

  <div class='col-7 card-body d-flex flex-column gap-2'>
    <h5 class='card-title mb-0'>
      {{ title }}
    </h5>
    <p class='card-subtitle m0 text-muted'>{{ subtitle }}</p>
    <p class='card-text m-0'>
      {{ description }}
    </p>

    {% if formats %}
      <div>
        {% for format in formats %}
          <span class='badge text-bg-primary rounded-pill'>{{ format | upper }} </span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</a>
