{% set classes = 'card px-0 text-decoration-none h-100 overflow-hidden' %}
{% set classes = classes ~ (direction == 'horizontal' ? ' d-flex flex-row' : '' ) %}

<a href='{{ href }}' class='{{ classes }}'>
  {% if thumbnail %}
    <div class='{{ direction == 'horizontal' ? 'col-3' : '' }} p-0 border-end'>
      <div class='ratio ratio-1x1 h-100'>
        <img src='{{ thumbnail.src }}' alt='{{ thumbnail.alt }}'>
      </div>
    </div>
  {% endif %}

  <div class='{{ direction == 'horizontal' ? 'col-8' : '' }} card-body d-flex flex-column gap-2'>
    <h3 class='card-title h5 d-flex gap-2 align-items-center mb-0'>
      <strong>{{ title }}</strong>
      {% if tag %}
        <span class='badge badge-small text-primary fw-normal text-uppercase'>{{ tag }}</span>
      {% endif %}
    </h3>
    <p class='card-subtitle m0 text-muted'>{{ subtitle }}</p>
    <p class='card-text m-0'>
      {{ description }}
    </p>

    {% if formats %}
      <div>
        {% for format in formats %}
          <span class='badge badge-small text-bg-primary rounded-pill text-uppercase'>{{ format | upper }} </span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</a>
