{% set _attributes = '' %}
{% for key, value in attributes %}
  {% set _attributes = _attributes ~ key ~ '="' ~ value ~ '" ' %}
{% endfor %}

{% if href %}
  <a
    href='{{ href }}'
    class='btn btn-link {{fontsize|default('fs-5')}}'
    {{ _attributes }}
  >
    {% if icon %}
      <i class='bi bi-{{ icon }} text-primary me-2' aria-hidden='true'></i>
    {% endif %}
    {{ text }}
  </a>
{% else %}
  <button
    class='btn btn-link {{fontsize|default('fs-5')}}'
    {{ _attributes }}
  >
    {% if icon %}
      <i class='bi bi-{{ icon }} text-primary me-2' aria-hidden='true'></i>
    {% endif %}
    {{ text }}
  </button>
{% endif %}
