{% extends 'layouts::base.twig' %}
{% set theme = 'default' %}

{%
  set templates = [
  {
  name: 'Home',
  variants: [{ href: './homepage', label: 'Default ✅', thumbnail: 'homepage.webp', thumbnail_dark: 'homepage-dark.webp'}]
  },
  {
  name: 'Dataset Overview',
  variants: [
  { href: './overview', label: 'Default ✅', thumbnail: 'overview.webp', thumbnail_dark: 'overview-dark.webp'},
  { href: './overview-empty', label: 'Empty State ✅', thumbnail: 'overview-empty.webp', thumbnail_dark: 'overview-empty-dark.webp'},
  ]
  },
  {
  name: 'Dataset Detail',
  variants:  [{ href: './dataset', label: 'Default ❌'}]
  },
  {
  name: 'Data Enquiry',
  variants: [
  { href: './enquiry', label: 'Default ✅', thumbnail: 'enquiry.webp', thumbnail_dark: 'enquiry-dark.webp'},
  { href: './enquiry-all-states', label: 'With all states ✅', thumbnail: 'enquiry-all-states.webp', thumbnail_dark: 'enquiry-all-states-dark.webp'},
  { href: './enquiry-validated', label: 'With validated form ✅', thumbnail: 'enquiry-validated.webp', thumbnail_dark: 'enquiry-validated-dark.webp'},
  ]
  },
  {
  name: 'Apps',
  variants:  [{ href: './apps', label: 'Default ❌'}]
  },
  {
  name: 'Publisher Overview',
  variants:  [{ href: './publisher-overview', label: 'Default ✅', thumbnail: 'publisher-overview.webp', thumbnail_dark: 'publisher-overview-dark.webp'}]
  },
  {
  name: 'Publisher Datasets',
  variants:  [
  { href: './publisher-datasets', label: 'Default ✅', thumbnail: 'publisher-datasets.webp', thumbnail_dark: 'publisher-datasets-dark.webp'},
  { href: './publisher-datasets-empty', label: 'Empty State ✅', thumbnail: 'publisher-datasets-empty.webp', thumbnail_dark: 'publisher-datasets-empty-dark.webp'}
  ]
  },
  ]
%}

{% block content %}
  <div class='d-flex flex-column gap-4 mt-5'>
    {% for template in templates %}
      <div>
        <h1>{{ template.name }}</h1>
        <div class='bg-body-secondary rounded p-4'>
          <div class='row'>
            {% for variant in template.variants %}
              <div class='col-3'>
                <a href='{{ variant.href }}' class='card text-decoration-none'>
                  <div class='ratio ratio-3x4'>
                    <img class='object-position-top bg-body-tertiary' src='./assets/previews/{{ variant.thumbnail }}'>
                    {% if variant.thumbnail_dark %}
                      <img
                        class='object-position-top bg-body-tertiary dark-mode-only'
                        src='./assets/previews/{{ variant.thumbnail_dark }}'
                      >
                    {% endif %}
                  </div>
                  <h3 class='h5 px-2 mt-2'>{{ variant.label }}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
