<aside class='offcanvas offcanvas-reset-lg offcanvas-end' id='offcanvas-filters'>
  <div class='offcanvas-header d-flex d-lg-none gap-2 align-items-center justify-content-end'>
    <p class='h6 m-0'>Close filters</p>
    <button
      type='button'
      class='btn btn-outline-light'
      data-bs-dismiss='offcanvas'
      aria-label='Close'
    >
      <i class='bi bi-x-lg'></i>
    </button>
  </div>
  <div class='offcanvas-body'>
    <h3 class='h5 mb-3'>Filtern nach</h3>
    <div class='d-flex flex-column gap-4'>
      {% for category in data %}
        <div>
          <h4 class='h6'>{{ category.title }}</h4>
          <div class='d-flex flex-column gap-2 align-items-start'>
            {% for filter in category.filters %}
              {% set id = 'filter-' ~ loop.parent.loop.index ~ loop.index %}

              <div class='form-check'>
                <input
                  class='form-check-input'
                  type='checkbox'
                  value=''
                  id='{{ id }}'
                >
                <label class='form-check-label' for='{{ id }}'>
                  {{ filter.label }}
                </label>
                <span class='text-body-secondary'>({{ filter.results }})</span>
              </div>
            {% endfor %}

            {% if category.moreFiltersCount > 0 %}
              <button class='btn btn-link text-decoration'>{{ category.moreFiltersCount }} weitere anzeigen</button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class='d-flex d-lg-none flex-column gap-2 mt-4'>
      <button type='button' class='btn btn-lg btn-primary'>Apply Filters</button>
      <button type='button' class='btn btn-lg btn-outline-primary' data-bs-dismiss='offcanvas'>Close Filters</button>
    </div>
  </div>
</aside>
