<div class='card mb-3'>
  {% if thumbnail %}
    <div class='ratio ratio-16x9'>
      <img class='card-img-top' src='{{ thumbnail.src }}' alt='{{ thumbnail.alt }}'>
    </div>
  {% endif %}

  <div class='card-body'>
    <h3 class='h5 card-title'>
      <a href='./dataset-detail' class='text-decoration-none'>
        {{ title }}
      </a>
    </h3>
    <p class='card-subtitle text-muted'>{{ subtitle }}</p>
    <p class='card-text'>
      {{ description }}
    </p>
    <p>
      <span>Formate:</span>
      <span class='d-inline-flex gap-3 ml-2'>
        {% for format in formats %}
          <span> <i class='bi bi-filetype-{{ format|lower }} fs-5'></i> {{ format | upper }} </span>
        {% endfor %}
      </span>
    </p>
  </div>
</div>
